<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
     <!--
			Vue中有2种数据绑定的方式：
            1.单向绑定(v-bind)：数据只能从data流向页面。
            2.双向绑定(v-model)：数据不仅能从data流向页面，还可以从页面流向data。
            备注：
                1.双向绑定一般都应用在表单类元素上（如：input、select等）
                2.v-model:value 可以简写为 v-model，因为v-model默认收集的就是value值。
		 -->
    <div id="app">
        <form @submit.prevent="sub">
            <h3>v-model 默认获取 value 值</h3>
            <label for="zhang">账号：</label>
            <h3>trim  去除前后空格</h3>
            <input type="text" v-model.trim='name' id="zhang" placeholder="请输入账号" > <br/><br/>
            <label for="password">密码：</label>
            <input type="password" id="password" v-model='password' placeholder="请输入密码" > <br/><br/>
            <h3>number 数字</h3>
            年龄：<input type="number" v-model.number='age' placeholder="请输入年龄" > <br/><br/>
            <h3>v-model 默认获取 value 值 需要 手动添加 value</h3>
            性别：
            <label for="man">男</label>
            <input type="radio" id="man" v-model='sex' name='sex' value="man"/> 
            <label for="woman">女</label>
            <input type="radio" id="woman" v-model="sex" name="sex" value="woman"/><br><br/>
            <h3>v-model 默认获取 value 值 初始值应该为 数组</h3>
            爱好：
            <label for="cf">吃饭</label>
            <input type="checkbox" name="chk" v-model="chk" value="cf" id="cf">
            <label for="sj">睡觉</label>
            <input type="checkbox" name="chk" v-model="chk" value="sj" id="sj">
            <label for="ddd">打豆豆</label>
            <input type="checkbox" name="chk" v-model="chk" value="ddd" id="ddd"><br><br/>
            所属选区：
            <select v-model="sel">
                <!-- <option value="请选择校区"></option> -->
                <option v-for="(item, index) in schools" :key="index" value="item.id">{{ item.name }}</option>
            </select><br><br/>
            <h3>lazy: 懒加载 失去焦点获取值</h3>
            备注：  
            <textarea v-model.lazy="text" name="" id="" cols="30" rows="10">

            </textarea><br><br>
            <input type="checkbox" v-model="agree" id="agree">
            <label for="agree">阅读并同意协议<br><br/>
            <button type="submit">提交</button>
            <button type="reset">重置</button>
        </form>
    </div>

    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                name: '',
                password: '',
                sex: 'man',
                age: 18,
                chk: [],
                agree: '',
                text: '',
                schools: [
                    {'id': 001, 'name': '北京校区'},
                    {'id': 002, 'name': '上海校区'}
                ],
                sel: 'item.id'
            },
            methods: {
                sub(e) {
                    e.preventDefault();
                    console.log(this.name);
                    console.log(this.password);
                    console.log(this.sex);
                }
            }
        })
    </script>
</body>
</html>